<div class="search-users-button">Search users</div>
<div class="search-users-form">
  <input type="text" name="userName" id="search-users-field" placeholder="Enter username">
  <input type="submit" id="search-users-submit" value="Go!">
</div>
