<div id="featured" class="col-sm-12">
<strong>Featured Boards</strong>
	<ul id="featured-tabs" class="nav nav-tabs">
		<li class="col-sm-4"><a id="feat-userboards-tab" style="display:none;cursor:pointer">
			<span class="glyphicon glyphicon-heart"></span> Yours
		</a></li>
		<li class="col-sm-4"><a id="feat-top-tabs" style="cursor:pointer">
			<span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Top
		</a></li>
		<li class="col-sm-4"><a id="feat-bottom-tabs" style="cursor:pointer">
			<span class="glyphicon glyphicon-sort-by-attributes"></span> Bottom
		</a></li>
	</ul>
	<div id="feat-userboards" style="display:none">
		<ul class="nav nav-bar">
		
		</ul>
	</div>
	<div id="feat-top" style="display:none">
		<ul class="nav nav-bar">
		
		</ul>
	</div>
	<div id="feat-bottom" style="display:none">
		<ul class="nav nav-bar">
		
		</ul>
	</div>
</div>