<div class="create-board-button">Create board</div>
<br>
<div class="create-board-form">
  <input type="text" name="boardName" id="create-board-field" placeholder="Enter board name">
  <input type="submit" id="create-board-submit" value="Go!">
</div>
