<div class="homepage">
  <div class="header">
    <img src="/static/logo.png" alt="LightFlix" />
    <h2>No more annoying autopreviews or high loadtimes!</h2>
  </div>
  <p class="intro">Click a link to go directly to Netflix.</p>
  <div class="collection"></div>
</div>
