<div class="search-threads-form">
  <input type="text" id="search-threads-field" placeholder="Type away...">
  <select class="search-threads-select" placeholder="hi">
    <option value="" disabled selected>Search for</option>
    <option value="username">Username</option>
    <option value="title">Thread title</option>
  </select>
  <select class="search-threads-proj">
    <option value="" disabled selected>Return</option>
    <option value="username">A list of users</option>
    <option value="title">A list of threads</option>
  </select>
  <input type="submit" id="search-threads-submit" value="Go!">
</div>
