<form class="form-group">
	<label for="username">Username</label>
	<input id="username" class="form-control"></input>
	<label for="password">Password</label>
	<input type="password" id="password" class="form-control"></input><br/>
	<input type="submit" id="login-button" class="btn btn-primary col-sm-6" value="Login"></input>
	<input type="submit" id="register-button" class="btn btn-default col-sm-6" value="Register"></input>
</form><br/><br/>
<div class="alert alert-danger" style="display:none"></div>

