* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #EEEEEE;
}

.homepage {
  text-align: center;

  .header {
    background-color: var(--background-color);
    padding: 1%;
    margin-bottom: 15px;
  }

  .intro {
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

body {
  .collection {
    overflow: hidden;
  }

  .board {
    text-align: left;
    font-size: large;
    border-collapse: separate;
    border-spacing: 2em;
  }

  .subboard {
    background-color: lightgrey;
  }

  .thread {
    background-color: red;

    .thread-button {
      color: white;
      display: inline;
      margin-right: 2em;
    }
  }

  .comment {
    background-color: blue;

    .comment-button {
      color: white;
      display: inline;
      margin-right: 2em;
    }
  }

  .post-button {
    background-color: lightgrey;
    color: black;
    display: inline-block;
    padding: 0.5em;
    font-weight: bold;
    margin-left: 1em;
  }

  .post-button:hover {
    background-color: darkgray;
  }

  #post-box-text {
    width: 90%;
    height: 10em;
  }

  #moderators-tag {
    margin-bottom: 1em;
    margin-left: 1em;
    color: darkgreen;
    font-weight: bold;
  }

  .moderator-name {
    color: green;
    display: inline;
    padding-right: 1em;
  }

  .create-board {
    margin-left: 1em;

    .create-board-button {
      background-color: lightgrey;
      color: black;
      display: inline-block;
      padding: 0.5em;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .create-board-button:hover {
      background-color: darkgray;
    }

    .create-board-form {
      display: none;
    }

  }

  .search-users {
    margin-left: 1em;
    margin-bottom: 1em;

    .search-users-button {
      background-color: lightgrey;
      color: black;
      display: inline-block;
      padding: 0.5em;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .search-users-button:hover {
      background-color: darkgray;
    }

    .search-users-form {
      display: none;
    }

  }

  .users {
    margin-left: 1em;

    #row0 {
      font-weight: bold;
    }

    td {
      border-style: solid;
      padding: 0.5em;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }
}
