* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #EEEEEE;
}

.homepage {
  text-align: center;

  .header {
    background-color: var(--background-color);
    padding: 1%;
    margin-bottom: 15px;

    @media (max-width: 950px) {
      > img {
        width: 40%;
      }
    }

    @media (max-width: 750px) {
      > img {
        width: 50%;
      }
    }

    @media (max-width: 580px) {
      > img {
        width: 60%;
      }
    }

    @media (max-width: 450px) {
      > img {
        width: 70%;
      }
    }

    > img {
      width: 30%;
    }
  }

  .intro {
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

body {
  ul {
    list-style-type: none;
    column-count: 3;
    text-align: center;
  }

  li {
    margin-bottom: 15px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }
}
