* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #EEEEEE;
}

.homepage {
  text-align: center;

  .header {
    background-color: var(--background-color);
    padding: 1%;
    margin-bottom: 15px;
  }

  .intro {
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

body {
  .collection {
    overflow: hidden;
  }

  .board {
    text-align: left;
    font-size: large;
    border-collapse: separate;
    border-spacing: 2em;
  }

  .subboard {
    background-color: lightgrey;
  }

  .thread {
    background-color: red;
  }

  .comment {
    background-color: blue;
  }

  .post-button {
    background-color: lightgrey;
    color: black;
    display: inline-block;
    padding: 0.5em;
    font-weight: bold;
  }

  .post-button:hover {
    background-color: darkgray;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }
}
