Type away...
<div>
  <textarea name="post-box-title" id="post-box-title" style="font-family:sans-serif;font-size:1.2em;">
</textarea>
  <textarea name="post-box-text" id="post-box-text" style="font-family:sans-serif;font-size:1.2em;">
</textarea>
  </div>
  <input type="submit" id="submit-button" value="Submit">
