<form action="/html/tags/html_form_tag_action.cfm" method="post">
  <div>
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Hey... say something!
</textarea>
  </div>
  <input type="submit" value="Submit">
</form>
