<h1><a href="/">redatabbit</a></h1>
<ul id="tabs" class="nav nav-tabs pull-left">
	<li id="home-tab"><a href="">Home</a></li>
	<li id="boards-tab"><a href="#/boards">Boards</a></li>
	<li id="users-tab"><a href="#/users">Users</a></li>
</ul>