<form class="form-group">
	<label for="to_account">Send to:</label>
	<input id="to_account" class="form-control"></input>
	<label for="composition">Compose:</label>
	<textarea id="composition" class="form-control" rows=10></textarea>
	<input type="submit" id="send-button" class="btn btn-primary col-sm-6" value="Send"></input>
</form><br/><br/>
<div class="alert alert-danger" style="display:none">

</div>