Hello <strong>{{username}}</strong>!<br/>
You joined our fantastic cult on<br/><strong>{{date_created}}</strong>!<br/>
<span id="settings-button" class="glyphicon glyphicon-cog pull-left" style="font-size:150%;cursor:pointer"></span>
<span id="logout-button" class="glyphicon glyphicon-log-out pull-right" style="font-size:150%;cursor:pointer"></span><br/><br/>
<div id="settings" style="visibility:hidden;height:0px">
	<form class="form-horizontal">
		<input id="username" class="form-control">Change Username</input>
		<input type="password" id="new-password" class="form-control">Change Password</input>
		<input type="password" id="old-password" class="form-control">Current Password</input><br/>
		<input type="submit" id="submit" class="form-control btn btn-danger col-sm-6 pull-right" value="Submit"></input>
	</form><br/><br/>
	<div class="alert alert-danger" style="visibility:hidden;height:0px"></div>
</div>

test