Hello <strong>{{username}}</strong>!<br/>
You joined our fantastic cult on<br/><strong>{{date_created}}</strong>!<br/>
<input type="submit" id="logout-button" class="btn btn-default col-sm-6" value="Logout"></input>
<span id="settings-button" class="glyphicon glyphicon-cog pull-right" style="font-size:150%;cursor:pointer"></span><br/><br/>
<div id="settings" style="visibility:hidden">peekaboo</div>