<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>redatabbit: the front page of cpsc304</title>

  {{#each htmlWebpackPlugin.files.css}}
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.path}}{{this}}" />
  {{/each}}
</head>
<body>
	<div class="jumbotron">
		<h1><a href="/">redatabbit</a></h1>
		<ul class="nav nav-tabs pull-left">
			<li class="active"><a href="">Home</a></li>
			<li><a href="#/boards">Boards</a></li>
			<li><a href="#/users">Users</a></li>
		</ul>
	</div>
	<div id="content" class="col-sm-10"></div>
	<div id="side-bar" class="col-sm-2" style="border-left: 1px solid lightgray;">
	</div>

  {{#each htmlWebpackPlugin.files.js}}
    <script type="text/javascript" src="{{htmlWebpackPlugin.options.path}}{{this}}"></script>
  {{/each}}
</body>
</html>
